<!DOCTYPE html>
<html>
<head>
    <title>Hello beautiful!</title>
    <style>
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }
        
        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }
        
        tr:nth-child(even) {
        background-color: #dddddd;
        }
    </style>
</head>
    <body>
        <table style="width:50%">
            <tr>
                {% for header in headings%}
                <td>{{header}}</td>
                {% endfor %}
            </tr>

            {% for row in data %}
                <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>    
                {% endfor %}
                </tr>
            {% endfor %}
    <body>
</body>
</html>
